<div class="container">
  <div class="box">
    <form novalidate (ngSubmit)="signIn()" [formGroup]="signInForm">
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="text" id="username" placeholder="Usuário" formControlName="username">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="password" id="password" placeholder="Senha" formControlName="password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button class="button is-success" id="signin" type="submit" [disabled]="signInForm.invalid">
            Entrar
          </button>
        </p>
      </div>
    </form>
  </div>
</div>
