.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
  }
  
  .box {
    width: 300px;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #00D1B2;
    background: #fff;
  }
  
  .logo {
    text-align: center;
    padding-bottom: 20px;
  }
  
  