.container {
  padding-top: 0px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.container-page {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer {
  height: 50px;
  text-align: center;
}
